In [1]:
import pandas as pd
import numpy as np
import io
import boto3

In [2]:
s3_client = boto3.client(service_name="s3",
                         aws_access_key_id="AKIA5SHMC74H2QMNG2FB",
                         aws_secret_access_key="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")
s3 = boto3.resource('s3')
bucket = s3.Bucket('elice-team5-bucket')
for obj in bucket.objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(상권-상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(자치구별 상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/서울시 우리마을가게 상권분석서비스(상권영역)-위도,경도 추가.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/서울시 우리마을가게 상권분석서비스(상권영역).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2014년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2015년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2016년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2017년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2018년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2019년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2020년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_2020.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_2021.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-소득소비/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-소득소비/서울시 우리마을가게 상권분석서비스(상권배후지-소득소비).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2016년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2017년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2018년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2019년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2020년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2021년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권_상주인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-상주인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-생활인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-직장인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권-아파트).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권배후지-아파트).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권배후지-집객시설).csv')

In [3]:
def csv_into_df(year):
    if year < 2020:
        csv_title = '상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_' + str(year) + '.csv'
    else:
        csv_title = '상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_' + str(year) + '.csv'
    obj = s3_client.get_object(Bucket="elice-team5-bucket", Key=csv_title)
    df = pd.read_csv(io.BytesIO(obj["Body"].read()), encoding='cp949', low_memory=False)
    return df

# value 소숫점 표현식

In [4]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

# csv 파일 concat 으로 df에 넣기

In [5]:
df = pd.DataFrame()
for year in range(2016, 2021):
    df = pd.concat([df, csv_into_df(year)])
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2016,1,A,골목상권,1000013,율곡로10길,CS300011,일반의류,27000000,21,...,0,0,11,0,0,0,0,4,7,2
1,2016,1,R,전통시장,1001271,동묘시장,CS300017,시계및귀금속,649744,17,...,0,8,9,0,0,0,0,8,9,1
2,2016,1,A,골목상권,1000447,증가로10길,CS300006,미곡판매,1856535,40,...,0,20,20,0,0,0,0,20,20,2
3,2016,1,R,전통시장,1001420,고척근린시장,CS300035,인테리어,152749,5,...,0,5,0,0,0,0,5,0,0,2
4,2016,1,A,골목상권,1000936,학동로38길,CS300014,신발,1000000,4,...,0,4,0,0,4,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132316,2020,2,R,전통시장,1001477,마천시장,CS100008,분식전문점,28919831,2653,...,0,1293,971,0,0,388,323,711,842,8
132317,2020,2,R,전통시장,1001487,천호시장,CS200028,미용실,59125109,78,...,0,78,0,0,0,0,0,0,78,1
132318,2020,2,R,전통시장,1001488,성내골목시장,CS200030,피부관리실,6928058,32,...,0,0,32,0,0,19,6,0,7,1
132319,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS200030,피부관리실,17953355,95,...,0,67,10,0,0,10,38,19,10,3
132320,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,6415600,169,...,0,63,106,0,10,139,10,5,5,8

# '기준_년_코드', '상권_코드' 그룹화

In [29]:
grouped_df = df.groupby(['기준_년_코드','상권_코드']).sum()
grouped_df

                 기준_분기_코드     분기당_매출_금액  분기당_매출_건수  주중_매출_비율  주말_매출_비율  \
기준_년_코드 상권_코드
2016    1000001       240   19621304935    1326171      6147      3465
        1000002       198   23748549576    1052551      6261      1545
        1000003       320   50981055558    1230786     10762      2144
        1000004       210   18792377949    2742822      6504      1901
        1000005       165   14777388877     456378      4475      1931
...                   ...           ...        ...       ...       ...
2020    1001492       558 1374959292839   51808539     19052      3266
        1001493       456  900581492671   31905200     13818      4490
        1001494       560  952259318256   26305512     18443      4084
        1001495       432  624689931100   22971091     12738      4675
        1001496       339  645469626637   14984818     10100      3407

                 월요일_매출_비율  화요일_매출_비율  수요일_매출_비율  목요일_매출_비율  금요일_매출_비율  ...  \
기준_년_코드 상권_코드                                                           ...
2016    1000001       1056       1164       1269       1294       1359  ...
        1000002       1211       1195       1364       1240       1260  ...
        1000003       2118       1944       2217       2335       2163  ...
        1000004       1311       1308       1342       1290       1268  ...
        1000005        729        820        857        864       1220  ...
...                    ...        ...        ...        ...        ...  ...
2020    1001492       3884       3747       3667       4045       3740  ...
        1001493       2485       2760       2723       2916       2969  ...
        1001494       3722       3699       3590       3674       3792  ...
        1001495       2491       2544       2644       2358       2736  ...
        1001496       1926       1891       1945       2286       2082  ...

                 시간대_건수~24_매출_건수  남성_매출_건수  여성_매출_건수  연령대_10_매출_건수  \
기준_년_코드 상권_코드
2016    1000001           110747    638388    580077         46799
        1000002           128431    522709    470402         22778
        1000003           165943    692548    400058          9097
        1000004           391835   1645615   1036805        115347
        1000005            54723    190572    211558          3705
...                          ...       ...       ...           ...
2020    1001492          2098438  23890419  24329569        283354
        1001493          3959019  15021858  16541233        398137
        1001494          1797229  13758281  10540500        198109
        1001495          3001661  11457639  10906476        357689
        1001496           555710   5378848   8838850        153026

                 연령대_20_매출_건수  연령대_30_매출_건수  연령대_40_매출_건수  연령대_50_매출_건수  \
기준_년_코드 상권_코드
2016    1000001        340434        365722        287452        125299
        1000002        318216        249608        175103        143329
        1000003        333038        319825        215353        135928
        1000004       1737185        310362        224829        224997
        1000005        121841        105461         90545         57755
...                       ...           ...           ...           ...
2020    1001492      11837864      13419465       9881581       7168362
        1001493       9756643       9291551       5970878       4156750
        1001494       6451853       5229806       4510337       4053183
        1001495       8128126       6256763       3693510       2583020
        1001496       4350736       4572637       2719914       1619417

                 연령대_60_이상_매출_건수    점포수
기준_년_코드 상권_코드
2016    1000001            52915    523
        1000002            84099    309
        1000003            79431    915
        1000004            69727    329
        1000005            22876    182
...                          ...    ...
2020    1001492          5629327  32248
        1001493          1989018  52016
        1001494          3855411  20211
        1001495          1344928   7775
        1001496           801962   3420

[7450 rows x 73 columns]

# 필요한 데이터 index 만들기

In [34]:
grouped_df['월별_평균_매출'] = grouped_df['분기당_매출_금액']/grouped_df['점포수']/4
grouped_df['전년도비_매출_증감'] = np.nan
grouped_df['전년도비_매출_증감률'] = np.nan
grouped_df['전년도비_점포수_증감'] = np.nan
grouped_df['전년도비_점포수_증감률'] = np.nan

# 전년도비_매출_증감

In [197]:
for year in range(2017, 2021):
    grouped_df['전년도비_매출_증감'].loc[year].loc[grouped_df.loc[year].index.isin(grouped_df.loc[year-1].index)] = grouped_df.loc[year, '월별_평균_매출'].filter(items=grouped_df.loc[year-1].index, axis=0) - grouped_df.loc[year-1, '월별_평균_매출'].filter(items=grouped_df.loc[year].index, axis=0)
grouped_df.loc[2018]

,기준_분기_코드,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,242,20532887858,1271610,6382,3429,1068,1406,1271,1322,1331,...,311593,264842,153189,91209,572,8974164,-417590,-4,NaN,NaN
1000002,205,30454597742,1249259,6527,1677,1450,1310,1123,1383,1273,...,293634,201571,187935,128134,380,20035920,2271861,13,NaN,NaN
1000003,304,44230175140,1787480,10162,2145,1979,2101,1919,1949,2230,...,469559,342241,217158,121406,933,11851601,-1815140,-13,NaN,NaN
1000004,216,18590214146,2529601,6914,1793,1489,1403,1341,1360,1343,...,282935,182016,228555,84742,344,13510330,-2291533,-15,NaN,NaN
1000005,155,18027419494,518973,4589,1721,834,795,912,856,1207,...,108700,97129,77160,33732,191,23596099,2505930,12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001492,651,2218076612258,80359705,21616,4515,4416,4388,4168,4295,4389,...,19536677,12989103,8642873,6358466,36590,15154937,235556,2,NaN,NaN
1001493,568,1059307295314,29253488,16671,6043,2967,3325,3238,3544,3648,...,7434028,4839482,3224316,1723642,58326,4540459,25959,1,NaN,NaN
1001494,677,1006000727413,31113497,21747,5275,4420,4216,4323,4289,4550,...,6249619,4404369,3937926,3358997,22801,11030226,576517,6,NaN,NaN
1001495,547,798195210955,35318335,15863,5864,3192,2988,3094,3013,3612,...,8947169,5686455,3551794,2056388,8977,22228896,4198551,23,NaN,NaN
1001496,417,632448410865,20268257,12482,4133,2393,2275,2404,2585,2855,...,5785593,3488249,1826622,899959,3647,43354018,-85012,-0,NaN,NaN

# 전년도비_매출_증감률

In [202]:
for year in range(2017, 2021):
    grouped_df['전년도비_매출_증감률'].loc[year].loc[grouped_df.loc[year].index.isin(grouped_df.loc[year-1].index)] = (grouped_df.loc[year, '월별_평균_매출'].filter(items=grouped_df.loc[year-1].index, axis=0) / grouped_df.loc[year-1, '월별_평균_매출'].filter(items=grouped_df.loc[year].index, axis=0)).values * 100 - 100
grouped_df.loc[2019]

,기준_분기_코드,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,160,16455880930,1111664,4093,2112,763,812,757,797,972,...,273448,232622,160442,106912,449,9162517,188353,2,NaN,NaN
1000002,156,21618050230,1106194,4842,1462,1097,968,873,1011,897,...,268850,184056,179077,126616,281,19233141,-802779,-4,NaN,NaN
1000003,247,33384250829,1496646,8165,1737,1584,1630,1451,1785,1738,...,371675,290318,229538,100490,691,12078238,226637,2,NaN,NaN
1000004,166,12483742079,1521309,5281,1427,1156,1094,1064,992,977,...,157400,165277,206123,79160,318,9814263,-3696067,-27,NaN,NaN
1000005,115,10616590955,396981,2770,1836,395,519,618,479,755,...,88139,80658,65023,30804,156,17013768,-6582331,-28,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001492,558,1697448884135,68773953,18375,3949,3651,3966,3540,3706,3564,...,17473482,12596043,8297958,6081107,31408,13511278,-1643659,-11,NaN,NaN
1001493,464,932346012521,28047025,13386,5232,2544,2603,2748,2630,2909,...,7626822,5336162,3413624,1599039,51927,4488734,-51725,-1,NaN,NaN
1001494,560,843024415054,28486184,17970,4452,3713,3606,3489,3572,3661,...,5865160,4738731,3928120,3324074,21194,9944140,-1086086,-10,NaN,NaN
1001495,457,655211036850,31849814,12912,5408,2401,2672,2561,2683,2625,...,8240399,5288671,3221298,1685136,7750,21135840,-1093056,-5,NaN,NaN
1001496,350,744529029101,20103849,10363,3646,1852,1886,2045,2216,2400,...,5816985,3914332,2156205,1052757,3237,57501470,14147452,33,NaN,NaN

# 전년도비_점포수_증감

In [203]:
for year in range(2017, 2021):
    grouped_df['전년도비_점포수_증감'].loc[year].loc[grouped_df.loc[year].index.isin(grouped_df.loc[year-1].index)] = grouped_df.loc[year, '점포수'].filter(items=grouped_df.loc[year-1].index, axis=0) - grouped_df.loc[year-1, '점포수'].filter(items=grouped_df.loc[year].index, axis=0)
grouped_df.loc[2018]

,기준_분기_코드,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,242,20532887858,1271610,6382,3429,1068,1406,1271,1322,1331,...,311593,264842,153189,91209,572,8974164,-417590,-4,55,NaN
1000002,205,30454597742,1249259,6527,1677,1450,1310,1123,1383,1273,...,293634,201571,187935,128134,380,20035920,2271861,13,50,NaN
1000003,304,44230175140,1787480,10162,2145,1979,2101,1919,1949,2230,...,469559,342241,217158,121406,933,11851601,-1815140,-13,6,NaN
1000004,216,18590214146,2529601,6914,1793,1489,1403,1341,1360,1343,...,282935,182016,228555,84742,344,13510330,-2291533,-15,4,NaN
1000005,155,18027419494,518973,4589,1721,834,795,912,856,1207,...,108700,97129,77160,33732,191,23596099,2505930,12,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001492,651,2218076612258,80359705,21616,4515,4416,4388,4168,4295,4389,...,19536677,12989103,8642873,6358466,36590,15154937,235556,2,-1157,NaN
1001493,568,1059307295314,29253488,16671,6043,2967,3325,3238,3544,3648,...,7434028,4839482,3224316,1723642,58326,4540459,25959,1,-4505,NaN
1001494,677,1006000727413,31113497,21747,5275,4420,4216,4323,4289,4550,...,6249619,4404369,3937926,3358997,22801,11030226,576517,6,-699,NaN
1001495,547,798195210955,35318335,15863,5864,3192,2988,3094,3013,3612,...,8947169,5686455,3551794,2056388,8977,22228896,4198551,23,-513,NaN
1001496,417,632448410865,20268257,12482,4133,2393,2275,2404,2585,2855,...,5785593,3488249,1826622,899959,3647,43354018,-85012,-0,-267,NaN

# 전년도비_점포수_증감률

In [204]:
for year in range(2017, 2021):
    grouped_df['전년도비_점포수_증감률'].loc[year].loc[grouped_df.loc[year].index.isin(grouped_df.loc[year-1].index)] = (grouped_df.loc[year, '점포수'].filter(items=grouped_df.loc[year-1].index, axis=0) / grouped_df.loc[year-1, '점포수'].filter(items=grouped_df.loc[year].index, axis=0)).values * 100 - 100
grouped_df.loc[2019]

,기준_분기_코드,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,160,16455880930,1111664,4093,2112,763,812,757,797,972,...,273448,232622,160442,106912,449,9162517,188353,2,-123,-22
1000002,156,21618050230,1106194,4842,1462,1097,968,873,1011,897,...,268850,184056,179077,126616,281,19233141,-802779,-4,-99,-26
1000003,247,33384250829,1496646,8165,1737,1584,1630,1451,1785,1738,...,371675,290318,229538,100490,691,12078238,226637,2,-242,-26
1000004,166,12483742079,1521309,5281,1427,1156,1094,1064,992,977,...,157400,165277,206123,79160,318,9814263,-3696067,-27,-26,-8
1000005,115,10616590955,396981,2770,1836,395,519,618,479,755,...,88139,80658,65023,30804,156,17013768,-6582331,-28,-35,-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001492,558,1697448884135,68773953,18375,3949,3651,3966,3540,3706,3564,...,17473482,12596043,8297958,6081107,31408,13511278,-1643659,-11,-5182,-14
1001493,464,932346012521,28047025,13386,5232,2544,2603,2748,2630,2909,...,7626822,5336162,3413624,1599039,51927,4488734,-51725,-1,-6399,-11
1001494,560,843024415054,28486184,17970,4452,3713,3606,3489,3572,3661,...,5865160,4738731,3928120,3324074,21194,9944140,-1086086,-10,-1607,-7
1001495,457,655211036850,31849814,12912,5408,2401,2672,2561,2683,2625,...,8240399,5288671,3221298,1685136,7750,21135840,-1093056,-5,-1227,-14
1001496,350,744529029101,20103849,10363,3646,1852,1886,2045,2216,2400,...,5816985,3914332,2156205,1052757,3237,57501470,14147452,33,-410,-11

# pivot_table 생성

In [207]:
pivot_df = pd.pivot_table(grouped_df, index=['기준_년_코드', '상권_코드'], values=['분기당_매출_금액', '점포수', '월별_평균_매출', '전년도비_매출_증감', '전년도비_매출_증감률', '전년도비_점포수_증감', '전년도비_점포수_증감률'])
# 연도별 필터링 및 정렬
pivot_df.loc[2019].sort_values(by='상권_코드', ascending=True)

,분기당_매출_금액,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률,점포수
상권_코드,,,,,,,
1000001,16455880930,9162517,188353,2,-123,-22,449
1000002,21618050230,19233141,-802779,-4,-99,-26,281
1000003,33384250829,12078238,226637,2,-242,-26,691
1000004,12483742079,9814263,-3696067,-27,-26,-8,318
1000005,10616590955,17013768,-6582331,-28,-35,-18,156
...,...,...,...,...,...,...,...
1001492,1697448884135,13511278,-1643659,-11,-5182,-14,31408
1001493,932346012521,4488734,-51725,-1,-6399,-11,51927
1001494,843024415054,9944140,-1086086,-10,-1607,-7,21194
1001495,655211036850,21135840,-1093056,-5,-1227,-14,7750
1001496,744529029101,57501470,14147452,33,-410,-11,3237

In [208]:
pivot_df

                    분기당_매출_금액  월별_평균_매출  전년도비_매출_증감  전년도비_매출_증감률  전년도비_점포수_증감  \
기준_년_코드 상권_코드
2016    1000001   19621304935   9379209         NaN          NaN          NaN
        1000002   23748549576  19214037         NaN          NaN          NaN
        1000003   50981055558  13929250         NaN          NaN          NaN
        1000004   18792377949  14279922         NaN          NaN          NaN
        1000005   14777388877  20298611         NaN          NaN          NaN
...                       ...       ...         ...          ...          ...
2020    1001492 1374959292839  10659260    -2852018          -21          840
        1001493  900581492671   4328387     -160347           -4           89
        1001494  952259318256  11778973     1834833           18         -983
        1001495  624689931100  20086493    -1049347           -5           25
        1001496  645469626637  47183452   -10318017          -18          183

                 전년도비_점포수_증감률    점포수
기준_년_코드 상권_코드
2016    1000001           NaN    523
        1000002           NaN    309
        1000003           NaN    915
        1000004           NaN    329
        1000005           NaN    182
...                       ...    ...
2020    1001492             3  32248
        1001493             0  52016
        1001494            -5  20211
        1001495             0   7775
        1001496             6   3420

[7450 rows x 7 columns]

# Mongo db 전송

In [209]:
mongo_df = pivot_df

In [210]:
from pymongo import MongoClient
import pymongo

In [211]:
import certifi
ca = certifi.where()
connection = pymongo.MongoClient(f"mongodb+srv://user1:uZGuuMyRngM3izgG@cluster0.cu0c3.mongodb.net/myFirstDatabase?retryWrites=true&w=majority", tlsCAFile=ca)

In [212]:
db = connection['elice']
collection = db.get_collection('sales_info')
collection.insert_many(mongo_df.reset_index().to_dict('records'))

In [214]:
print(list(collection.find()))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)